# .env.example - Plantilla de configuración

# API Configuration
BASE_URL=https://devapi.humano.com.do


# Credenciales del cliente  
X_USER_KEY=<user_key>
X_CODIGO_MEDIADOR=<codigo_mediador>
API_SUBSCRIPTION_KEY=<subscription_key>

# Key IDs
SERVER_KID=crt-pago-buen-viaje-pub
CLIENT_KID=crt-pago-client-test-pub
CLIENT_KEY_PATH=./keys/crt-pago-client-test-prvt.key

# Desarrollo
USE_LOCALHOST=false
DISABLE_SSL=true
DEBUG=false